<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.yonseidairy.promo.mapper.PromoMapper">

    <select id="selectAllAgency" resultType="AgencyDao">
        select 
			AGENCYCD AS agencyCd
			, AGENCYNM AS agencyNm
		from ysc.tc_agency
		WHERE AGENCYTYPE = '1'
		AND DELETEYN != '1'
		ORDER BY AGENCYNM 
    </select>
    
    <select id="selectAllMilkbangFileList" resultType="MilkbangFileDao">
        SELECT ysc.tc_milkbang_file.*
		FROM ysc.tc_milkbang_file
		ORDER BY FileNM ASC
    </select>
    
    <select id="selectCountMilkbangFile" resultType="Integer">
        SELECT count(*)
		FROM ysc.tc_milkbang_file a
		WHERE UPPER(a.filenm) = UPPER(#{fileNm})
    </select>
    
    <select id="selectAllTeamPerson" resultType="TeamPersonDao">
        select 
			TEAMPERSONCD AS teamPersonCd
			, TEAMPERSONNM AS teamPersonNm
			, LOGINID AS loginId
		from ysc.tc_teamperson
		WHERE TEAMPERSONTYPE = '1'
		ORDER BY TEAMPERSONCD 
    </select>
    
    <select id="selectMilkbangFileList" resultType="MilkbangFileDao">
	    SELECT
			ROW_NUMBER() OVER (ORDER BY a.AGENCYCD, a.DOWNLOADDT DESC) AS no
			, a.filenm AS fileNm
			, a.fileUrl AS fileUrl
			, a.DOWNLOADDT AS downloadDt
			, a.AGENCYCD AS agencyCd
			, b.AGENCYNM AS agencyNm
			, a.UPLOADYN AS uploadYn
			, CASE WHEN a.UPLOADYN = 1 THEN 'O' ELSE 'X' END AS uploadYnNm
			, a.FILESTATUS AS fileStatus
			, CASE WHEN a.FILESTATUS = 1 THEN '정상파일'
				   WHEN a.FILESTATUS = 2 THEN '파일내용없음' 
				   WHEN a.FILESTATUS = 3 THEN '파일깨짐'
				   WHEN a.FILESTATUS = 4 THEN '업로드대기중' 
				   ELSE '에러확인필요' END AS fileStatusNm
			, a.INSERTDT AS insertDt
			, a.UPLOADDT AS uploadDt
		FROM ysc.tc_milkbang_file a
		LEFT JOIN ysc.tc_agency b ON a.AGENCYCD = b.AGENCYCD 
		WHERE 1 = 1
	    AND to_char(a.DOWNLOADDT, 'yyyymmdd') BETWEEN replace(#{startDate}, '-', '') AND replace(#{endDate}, '-', '')
	    <if test="agencyCd != null and agencyCd != ''">
	        AND a.AGENCYCD = #{agencyCd}
	    </if>
	    ORDER BY a.AGENCYCD, a.DOWNLOADDT DESC 
	</select>
	
	<select id="selectMilkNotSubmitFile" resultType="MilkbangFileDao">
        SELECT
        	ROW_NUMBER() OVER (ORDER BY a.AGENCYNM) AS no
			, a.AGENCYCD AS agencyCd
			, a.AGENCYNM AS agencyNm
			, a.AGENCYTYPE AS agencyType
			, a.TEAMPERSONCD AS teamPersonCd
			, c.TEAMPERSONNM AS teamPersonNm
			, a.DELETEYN AS deleteYn
			, '전송안됨' AS uploadYnNm
			, count(*) AS cnt
		FROM ysc.tc_agency a
		LEFT JOIN ysc.tc_milkbang_file b
			ON to_char(a.AGENCYCD) = to_char(b.AGENCYCD) 
			AND to_char(b.DOWNLOADDT, 'yyyymmdd') BETWEEN REPLACE(#{startDate}, '-', '') AND REPLACE(#{endDate}, '-', '')
		LEFT JOIN ysc.TC_TEAMPERSON c
			ON a.TEAMPERSONCD = c.TEAMPERSONCD
		WHERE 1 = 1
		AND b.AGENCYCD IS NULL
		AND a.DELETEYN = '0'
		<if test="teamPersonCd != null and teamPersonCd != ''">
			AND a.TEAMPERSONCD = #{teamPersonCd}
		</if>
		GROUP BY a.AGENCYCD, a.AGENCYNM, a.AGENCYTYPE, a.TEAMPERSONCD, c.TEAMPERSONNM, a.DELETEYN
		ORDER BY a.AGENCYNM  
    </select>
    
    <insert id="insertMilkbangFile" parameterType="MilkbangFileDao">
	    INSERT INTO ysc.tc_milkbang_file (
	        FILENM
	        , FILEURL
	        , DOWNLOADDT
	        , AGENCYCD
	        , UPLOADYN
	        , UPLOADDT
	        , FILESTATUS
	        , INSERTDT
	    ) VALUES (
	        #{fileNm}
	        , #{fileUrl}
	        , SYSDATE
	        , #{agencyCd}
	        , #{uploadYn}
	        , null
	        , #{fileStatus}
	        , null
	    )
	</insert>
	
	<!-- 밀크방 파일 정보 수정 -->
	<update id="updateMilkbangFile" parameterType="MilkbangFileDao">
	    UPDATE ysc.tc_milkbang_file
	    SET
	        DOWNLOADDT = SYSDATE
	        , AGENCYCD = #{agencyCd}
	        , UPLOADYN = #{uploadYn}
	        , FILESTATUS = #{fileStatus}
	    WHERE FILENM = #{fileNm}
	</update>

</mapper>